.body{
    display: flex;
    background-color: #344966;
    
}

.bodyAbout{
    display: flex;
    background-color: #344966;

}

.navContainer{

    display: flex;
    flex-direction: column;
    width: 5%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F19953;
    border-radius: 26px;
    justify-content: center;
    
}



.navItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center; /* Vertically center the child elements */
    margin-bottom: 25px;
    margin-top: 25px;
            
}

.navItems{

    flex-direction: column;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 20px;
    margin: 20px;
    color: #344966;
    cursor: pointer;
    font-weight:bold;

}

.welcome{
    font-size: xx-large;
    align-self: center;
    color: #C2DFE3;
    margin-top: -17%;   
    margin-left: 163px; 
}


.profilePicture{
    width: 350px;
    height: 350px;
}

.aboutMain{
    display: flex;
    margin-top: 100px;
    margin-left: 30px;
}

.textBody{
    margin-left: 30px;
}

.header{
    color: #F19953;

}

.aboutMe{
    color: #C2DFE3;
}


.contactCard{
    display: flex;
    background-color: #C2DFE3;
    border-radius: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 325px;
    width: 425px;
    justify-content: center;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactContents{
    color: #344966;
    
}

.contactMain{
    display: flex;
    background-color: #344966;
}

.contactPhoto{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.projectsMain{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.projectCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 26px;
    background-color: #F19953;
    border: 4px;
    border-style: solid;
    border-color: #C2DFE3;
    margin: 10px;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.projectContent{
    display: flex;
    flex-direction: row;
    color: #344966;
}